root {
    background-clip: border-box;
}

h1 {
    font-family: 'Dosis', sans-serif;
    line-height: 1;
    margin-bottom: 0;
}

h2 {
    font-family: 'Dosis', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin-top: 0.5rem;
}

a {
    color: #0e9bb1;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
    color: #096c7b;
}

main {
    color: #f8f9fa;
    background-color: #0e1013;
}

body {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #f8f9fa;
    text-align: left;
    background-color: #0e1013;
}

.btn {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
    color: white;
    background: rgb(245, 181, 1);
    text-align: center;
    vertical-align: middle;
    border-radius: 25rem;
    margin: 0.25rem;
    padding: 0.5rem 2rem;
}

.btn-launch-btn {
    margin: 1rem 0.25rem 0.25rem 0.25rem;
}

.btn-launch-btn:hover {
    text-decoration: inherit;
    color: inherit;
}

.btn-launch-btn:active {
    background: #1fd1ed;
    border-color: #1fd1ed;
    transition: all 0.15s ease-in-out;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.card {
    flex: content-box;
    padding: 1.25rem;
    background: rgb(6, 8, 9);
    background-clip: border-box;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 40%) 10px 10px 40px 0;
    border: 4px solid rgb(5, 29, 34);
    border-radius: 10px;
}

.card-text {
    color: rgb(140, 140, 140);
    font-size: 1.5rem;
}

.world-image {
    height: 35vw;
    border-radius: 15px;
    background-image: url("/images/VRSGF_Centurion_Shooting_Range.png");
    background-size: cover;
    background-position: center 25%;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Dosis:wght@700');
}